* {
    font-size: 1.5rem;
}

body {
    background-color: rgb(241, 241, 241);
}

table.numbers-grid-table {
    border-collapse: collapse;
    margin: auto;
}

table.numbers-grid-table td {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.numbers-grid {
    margin: 1rem;
}

.text-area-input {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 2rem;
    resize: none;
}

.button-submit-numbers,
.button-clean-numbers {
    width: 100% !important;
    font-size: 1.5rem !important;
    margin: 0.5rem 0;
}

.input-numbers {
    width: 90%;
    margin: auto;
}

.tennis-ball {
    width: 20px;
    height: 20px;
}

@media (max-width:768px) {
    .tennis-ball {
        width: 15px;
        height: 15px;
    }

    table.numbers-grid-table td {
        padding: 8px;
    }
}