#footer {
    width: 100%;
    /* background-color: rgb(255, 250, 250); */
    text-align: center;
    min-height: 20rem;
    margin-top: 2rem;
    padding: 4rem 0;
}

.copyright-text {
    font-size: 1.2rem;
    color: gray;
}

.social-media-icons svg {
    margin: 0.5rem;
}

#footer a {
    color: black;
}

#footer a:hover {
    color: #FF8551;
    transition: all .3s ease;
}